.tw-followCard{
    justify-content: space-between;
    display: flex;
    align-items: center;
    color:white;
    font-size: .8rem;
}
.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName{
    opacity: .6;
}
.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .3s ease background-color;
}

.tw-followCard-button.is-following{
    color: #fff;
    background: #272626;
    border: solid 1px #fff;
    width: 120px;
}

.tw-followCard:hover{
    background: #2c2a2a;
    transition: .3s;
}

.tw-followCard-button.is-following:hover{
    background: rgba(255, 0, 0, 0.315);
    border: solid 1px red;
}
.tw-followCard-button.is-following:hover .tw-followCard-unFollow{
    display: block;
    font-size: .73rem;
}

.tw-followCard-button.is-following:hover .tw-followCard-Follow{
    display: none;
}

.tw-followCard-unFollow{
    display: none;  ;
}